.photo-column{
    background-color: wheat;
    height: 400px;
}

#photo-gallery{
    background-color: brown;
    height: 400px;
}

.photo-big{
    width: 100%;
    height: 200px;
    background-color: tomato;
    margin-top: 20px;
}

.photo-sm{
    width: 100%;
    height: 200px;
    background-color:white;
    overflow: hidden;
    margin-top: 20px;
}

@media (min-width: 575.98px) {
    .video {
        margin-top: : 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767.98px) {
    .video {
        margin-top: : 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991.98px) {
    .video {
        margin-top: : 20px;
        width: 100%;
        height: 800px;
    }
}